assets/*
vendor/*
frontend/web/images/uploads/*
!frontend/web/images/uploads/.gitkeep
composer.phar
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
